<md-dialog>
    <md-dialog-content class="md-margin" layout="column">
        <md-input-container style="margin: 18px 0;">
            <label for="note_title">Category Title</label>
            <input type="text" name="note_title" ng-model="category.name">
        </md-input-container>

        <md-menu class="no-padding">
            <div layout ng-click="$mdOpenMenu($event)" md-menu-origin>
                <md-input-container flex>
                    <label>Category Color</label>
                    <input type="text" ng-model="category.color">
                </md-input-container>

                <md-input-container>
                    <div class="color-preview md-whiteframe-1dp " ng-style="{ 'background-color' : category.color }"></div>
                </md-input-container>
            </div>

            <md-menu-content width="4">
                <color-picker ng-model="category.color"></color-picker>
            </md-menu-content>
        </md-menu>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex=""></span>
        <md-button ng-click="$mdDialog.hide()">Cancel</md-button>
        <md-button ng-click="saveCategory()">Save</md-button>
    </md-dialog-actions>
</md-dialog>
