<div layout="row" layout-align="center center" layout-fill="">
    <md-content class="md-whiteframe-z1" layout="column" flex="40" flex-sm="66" flex-xs="100" layout-padding="">
      <h2 class="md-display-1">Login for MEAN-Notes</h2>
      <md-input-container>
        <label>Email</label>
        <md-icon>mail_outline</md-icon>
        <input ng-model="user.email" type="email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <md-icon>lock_outline</md-icon>
        <input ng-model="user.password" type="password">
      </md-input-container>
        <div layout="row" layout-margin="" layout-align="end center">
          <md-button class="md-raised" flex-gt-xs="50" flex-xs="100">Login</md-button>
        </div>
    </md-content>
</div>
