<script src="libs/ng-picky.js"></script>

<md-sidenav class="md-sidenav-left" md-component-id="menu-left" md-is-locked-open="true" md-is-open="true">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">MEAN-Notes</h1>
    </md-toolbar>
    <md-content layout-padding>


        <md-list-item ng-repeat="category in categories">
            <md-checkbox ng-model="category.selected"></md-checkbox>
            <md-icon layout-margin style="color:{{category.color}};font:bold;">color_lens</md-icon>
            <p>{{category.name}}</p>
            <md-icon class="md-secondary" ng-click="delete(category)">delete</md-icon>
        </md-list-item>

        <md-divider></md-divider>

        <md-button class="md-fab md-primary" aria-label="new cat" ng-click="openDialog($event)">
            <md-icon>edit</md-icon>
        </md-button>

    </md-content>
</md-sidenav>
