<md-sidenav class="md-sidenav-left" md-component-id="menu-left" md-is-locked-open="true" md-is-open="true">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">MEAN-Notes</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name="newCategory" layout="column">
            <md-input-container flex>
                <label>Category Name</label>
                <md-icon>text_fields</md-icon>
                <input type="text" ng-model="newCategory.name" ng-required="true">
                <div ng-messages="newCategory.name.$error">
                    <div ng-message="required">Category Name is required.</div>
                </div>
            </md-input-container>
            <div flex label="Category Color" md-color-picker value="newCategory.color" open-on-input="true"></div>
            <md-button class="md-raised md-primary" ng-click="add()" ng-disabled="newCategory.$invalid">Add Category</md-button>
        </form>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Categories</md-subheader>
        <md-list-item ng-repeat="category in categories">
            <md-checkbox ng-model="category.selected"></md-checkbox>
            <md-icon layout-margin style="color:{{category.color}};font:bold;">color_lens</md-icon>
            <p>{{category.name}}</p>
            <md-icon class="md-secondary" ng-click="delete(category)">delete</md-icon>
        </md-list-item>
    </md-content>
</md-sidenav>
