<md-dialog>
    <md-dialog-content class="md-margin md-padding" layout="column">
        <h2 class="md-display-1">Login for MEAN-Notes</h2>
        <h3 class="md-subhead" style="color:rgb(255,87,34);">{{error}}</h3>
        <form name="SignInForm" layout="column">
            <md-input-container>
                <label>Email</label>
                <md-icon>mail_outline</md-icon>
                <input name="email" ng-model="user.email" type="email" required ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="SignInForm.email.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="pattern">This does not look like an Email.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <md-icon>lock_outline</md-icon>
                <input name="password" ng-model="user.password" type="password" required>
                <div ng-messages="SignInForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-xs="column" class="md-padding">
        <md-button flex-gt-xs="50" flex-xs="100" ng-click="login(user)" ng-disabled="SignInForm.$invalid">Login</md-button>
        <md-button flex-gt-xs="50" flex-xs="100" ng-click="register(user)" ng-disabled="SignInForm.$invalid">Register</md-button>
    </md-dialog-actions>
</md-dialog>
