<md-card flex>
    <md-card-title flex="initial">
        <md-card-title-text>
            <span class="md-headline">{{model.title}}</span>
        </md-card-title-text>
        <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="editNote()">
                        <md-icon md-menu-align-target>edit</md-icon>
                        Edit
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon md-menu-align-target>delete</md-icon>
                        Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-title>
    <md-card-content flex="grow" layout="column">
        <div flex="grow">
            {{model.content}}
        </div>
        <md-chips ng-model="model.categories" readonly="true" class="md-readonly">
            <md-chip-template app-chip-bg="getCategoryColor($chip)">{{$chip}}</md-chip>
        </md-chips>
    </md-card-content>
    <md-card-actions layout>
        <span flex layout layout-align="start center" class="md-caption">{{formatDate(model.startdate)}} - {{formatDate(model.enddate)}}</span>
        <span>
            <md-button class="md-icon-button">
                <md-icon>done</md-icon>
            </md-button>
        </div>
    </md-card-actions>
</md-card>
